[submodule "HTML_Report/MAGMA"]
	path = RTS_Data/FormattedData/PLEXOS/PLEXOS_Solution/HTML_Report/MAGMA
	url = git@github.com:NREL/MAGMA.git

[submodule "RTS_Data/FormattedData/PLEXOS/Create_PLEXOS_database/PIDG"]
	
	path = RTS_Data/FormattedData/PLEXOS/Create_PLEXOS_database/PIDG
	
	url = git@github.com:NREL/PIDG.git
